body {
  font-size: 16px;
  color: #fff;
  background-color: #FFFFFF;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #A4A9A9;
  border-radius: 0;
  border: 0;
}

#header-nav > .container {
margin-left: 15px

}

.navbar-brand h1 {/* Restaurant name */
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  color: #000000;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  font-weight: bold;
  text-align: left;
}



h1 {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (min-width: 767px){
  #nav-list a{
    visibility: hidden;
  }

  #main-content {
  margin: 10px
  }
}

@media (max-width: 767px){
  .container #collapsable-nav {
  background: #B5F3F3;
}
}

#paragraph {
  height: 1000px;
  background: #A4A9A9;
  color: #000000;
  margin: 15px;
}

#head_paragraph {
  color: #000000;
  padding-top: 5px;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
}

#body_paragraph {
  padding-right: 15px;
  padding-left: 15px;
}

/* END HEADER */

/* BODY */


/* END BODY */